<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Vehicle - There'n'Back Co.</title>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Tangerine&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main_pages_styles.css">
</head>
<body>
    <div class="header">
        <div class="logo">📦 There'n'Back Co.</div>
        <div class="header-right">
            <a href="#">Logout</a>
            <a href="#" class="profile">My Profile</a>
        </div>
    </div>
    <div class="container">
        <div class="header">
            <h1>Add a Vehicle</h1>
            <a href="{% url 'vehicles' %}">
                <button>Back</button>
            </a>
        </div>

        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <!-- Vehicle capacity -->
                <label for="capacity">Capacity:</label><br>
                <input type="text" id="capacity" name="capacity" required><br><br>

                <!-- types -->
                <label for="type">Vehicle type:</label><br>
                <input type="text" id="type" name="type" required><br><br>

                <!-- Submit Button -->
                <button type="submit">Add Vehicle</button>
            </form>
        </div>
        
    </div>
    <footer>
        <p>&copy; 2024 There'n'Back Company</p>
    </footer>
</body>
</html>
