<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>
</head>
<body>
    <h1>Cities</h1>
    <a href="{% url 'dispatcher_dashboard' %}">
        <button>Back</button>
    </a><br>
    <a href="{% url 'add_city' %}">
        <button>Add city</button>
    </a>
    <div class="main">
        

        {% for item in data %}
        {{ item.city_name }}<br/>
        {{ item.latitude }}<br/>
        {{ item.longitude }}<br/>
        <a href="{% url 'delete_city' item.id %}">
            <button>Delete</button>
        </a>
        <hr/>
    
        {% endfor %}
    
    </div>    
</body>
</html>