<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cities</title>
    <link rel="stylesheet" href="main_pages_styles.css">
</head>
<body>
    <div class="header">
        <h1>Cities</h1>
        <a href="{% url 'dispatcher_dashboard' %}">
            <button class="btn">Back</button>
        </a>
        <a href="{% url 'add_city' %}">
            <button class="btn">Add City</button>
        </a>
    </div>
    
    <div class="main">
        {% for item in data %}
        <div class="city-item">
            <p><strong>City Name:</strong> {{ item.city_name }}</p>
            <p><strong>Latitude:</strong> {{ item.latitude }}</p>
            <p><strong>Longitude:</strong> {{ item.longitude }}</p>
            <a href="{% url 'delete_city' item.id %}">
                <button class="btn-delete">Delete</button>
            </a>
        </div>
        <hr/>
        {% endfor %}
    </div>    
    <footer>
        <p>&copy; 2024 There'n'Back Company</p>
    </footer>
</body>
</html>
