<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipments</title>
</head>
<body>
    <h1>Shipments</h1>
    <a href="{% url 'dispatcher_dashboard' %}">
        <button>Back</button>
    </a><br>
    <div class="main">
        
        {% for item in data %}
        {{ item.order.client }}<br/>
        {{ item.order.city_connection }}<br/>
        {{ item.order.pickup_location }}<br/>
        {{ item.order.delivery_location }}<br/>
        {{ item.order.planned_delivery }}<br/>
        {{ item.order.weight }}<br/>
        {{ item.order.volume }}<br/>
        {{ item.status }}<br/>
        {{ item.driver }}<br/>
        {{ item.vehicle }}<br/>
        {{ item.dispatcher }}<br/>
        {{ item.price }}<br/>
        <hr/>
    
        {% endfor %}
    
    </div>    
</body>
</html>