<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
</head>
<body>
    <h1>Orders</h1>
    <a href="{% url 'dispatcher_dashboard' %}">
        <button>Back</button>
    </a><br>
    <div class="main">
        
        {% for item in data %}
        {{ item.city_connection }}<br/>
        {{ item.pickup_location }}<br/>
        {{ item.delivery_location }}<br/>
        {{ item.planned_delivery }}<br/>
        {{ item.weight }}<br/>
        {{ item.volume }}<br/>
        <a href="{% url 'view_order' item.id %}">View</a>
        <a href="{% url 'reject_order' item.id %}">
            <button>Reject</button>
        </a>
        <hr/>
    
        {% endfor %}
    
    </div>    
</body>
</html>