<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Tangerine&display=swap" rel="stylesheet">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>There'n'Back - Simple Shipping Solutions</title>
    <link rel="stylesheet" href="login_style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>There'n'Back</h1>
            <p class="tagline">simple shipping solutions</p>
        </header>

        <main class="content">
            <h2>Shipping made a 'ship tonne' easier</h2>

            <div class="info-section">
                <a href="{% url 'client_register' %}">
                    <button>Register as Customer</button>
                </a>
                <hr/>
                <a href="{% url 'dispatcher_register' %}">
                    <button>Register as Employee</button>
                </a>
                <hr/>
                <a href="{% url 'login' %}">
                    <button>Login page</button>
                </a>
            </div>
        </main>

        <footer class="footer">
            <p>We courier so you don't have to!</p>
            <p><a href="#">SHOP OUR MERCH TODAY</a></p>
        </footer>
    </div>
</body>
</html>