<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles</title>
    <link rel="stylesheet" href="main_pages_styles.css">
</head>
<body>
    <div class="header">
        <div class="logo">📦 There'n'Back Co.</div>
        <div class="header-right">
            <a href="#">Logout</a>
            <a href="#" class="profile">My Profile</a>
        </div>
    </div>
    <div class="header">
        <h1>Vehicles</h1>
        <a href="{% url 'dispatcher_dashboard' %}">
            <button class="btn">Back</button>
        </a>
        <a href="{% url 'add_vehicle' %}">
            <button class="btn">Add Vehicle</button>
        </a>
    </div>
    
    <div class="main">
        {% for item in data %}
        <div class="vehicle-item">
            <p><strong>Load Capacity:</strong> {{ item.load_capacity }} kg</p>
            <p><strong>Vehicle Type:</strong> {{ item.vehicle_type }}</p>
            <a href="{% url 'delete_vehicle' item.id %}">
                <button class="btn-delete">Delete</button>
            </a>
        </div>
        <hr/>
        {% endfor %}
    </div>
    <footer>
        <p>&copy; 2024 There'n'Back Company</p>
    </footer>
</body>
</html>
